{include file="common/header"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <table class="layui-table" id="list" lay-filter="list"></table>
        </div>
    </div>
</div>

<script type="text/html" id="action">
    {if(session('roleid')==7)}
    <!--管理员才显示编辑和删除操作-->
    <a href="{:url('agree')}?id={{d.id}}" class="layui-btn layui-btn-xs">同意</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="ref">不同意</a>
    <!--同意我将status=1不同意则c_status=1-->
    {/if}
</script>

{include file="common/footer"}
<script>
    layui.use(['layer', 'table', 'form'], function () {
        var form = layui.form, table = layui.table, layer = layui.layer;
        var tableIn = table.render({
            id: 'data',
            elem: '#list',
            url: '{:url("claimindex")}',
            method: 'post',
            page: true,
            cols: [[
                {checkbox: true, align: 'center'}
                , {type: 'numbers', align: 'center', title: '序号'}
                , {field: 'thing', align: 'center', title: '物品名称'}
                , {field: 'name', align: 'center', title: '捡到人姓名'}
                , {field: 'create_time', align: 'center', title: '时间', width: 200}
                , {field: 'address', align: 'center', title: '地点'}
                , {field: 'content', align: 'center', title: '捡到人的备注'}
                , {field: 'c_name', align: 'center', title: '失主的姓名'}
                , {field: 'c_content', align: 'center', title: '失主的备注'}
                , {width: 160, align: 'center', title: '操作', toolbar: '#action'}
            ]],
            limits: [10, 20, 50, 100],
            limit: 10 //每页默认显示的数量
        });
        table.on('tool(list)', function (obj) {
            var data = obj.data;
            if (obj.event === 'ref') {
                var lostnum=data.num;
                if(lostnum!=0) {
                    layer.confirm('您确定不同意吗？', function (index) {
                        var loading = layer.load(1, {shade: [0.1, '#fff']});

                        $.post("{:url('refuse')}", {id: data.id}, function (res) {
                            layer.close(loading);
                            if (res.code === 1) {
                                layer.msg(res.msg, {time: 1000, icon: 1});
                                tableIn.reload();
                            } else {
                                layer.msg('操作失败！', {time: 1000, icon: 2});
                            }
                        });
                        layer.close(index);
                    });
                }else{
                    layer.msg("不能删除！", {time: 1800, icon: 2});
                }
            }
        });
    });
</script>
