{include file="common/header"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body" pad15>
                    <form class="layui-form layui-row" lay-filter="form-lost" action="{:url('edit')}">
                        <input type="hidden" name="id"/>
                        <div class="layui-col-md12">
                            <div class="layui-form-item">
                                <label class="layui-form-label">东西名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="thing" class="layui-input" lay-verify="required">
                                </div>
                                <label class="layui-form-label">你的姓名</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="name" class="layui-input" lay-verify="required">
                                </div>
                                <label class="layui-form-label">地点</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="address" class="layui-input" lay-verify="required">
                                </div>
                            </div>
                            <div>
                                <label class="layui-form-label">类别</label>
                                <div class="layui-input-inline">
                                    <select name="type_id" lay-verify="required" id="type_id">
                                        <option value="">请选择东西类别</option>
                                        {volist name="list" id="vo"}
                                        <option value="{$vo.id}"
                                                {eq name='$vo.id' value='$info.type.id' }selected{
                                        /eq}>{$vo.type_name}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">发布时间</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="create_time" name="create_time" lay-verify="required"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">对物品描述</label>
                                <div class="layui-input-block">
                                    <textarea placeholder="请输入内容" name="content" class="layui-textarea" lay-verify="required"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <a class="layui-btn" lay-submit="" lay-filter="layform">保存</a>
                                    <a href="{:url('index')}" class="layui-btn layui-btn-primary">返回</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="common/footer"}
<script type="text/javascript" charset="utf-8" src="__JS__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__JS__/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__JS__/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
    // var url = "{:url('Ueditor/index')}";
    // var ue = UE.getEditor('content', {
    //     initialFrameHeight: 250,
    //     zIndex: 100
    // });
</script>
<script>
    layui.use(['form', 'laydate'], function () {
        var form = layui.form, $ = layui.jquery, laydate = layui.laydate;
        laydate.render({elem: '#create_time', type: 'datetime', value: new Date()});
        //create_time和time不同，不会调用new Date()方法
        form.val("form-lost", {$info});
    });
</script>
