{include file="common/header"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body" pad15>
                    <form class="layui-form layui-row" lay-filter="form-news" action="{:url('edit')}">
                        <input type="hidden" name="id"/>

                        <div class="layui-col-md12">
                            <div class="layui-form-item">
                                <label class="layui-form-label">新闻标题</label>
                                <div class="layui-input-5">
                                    <input type="text" name="title" class="layui-input" lay-verify="required">
                                </div>
                                <label class="layui-form-label">新闻类别</label>
                                <div class="layui-input-inline">
                                    <select name="type_id" lay-verify="required" id="type_id">
                                        <option value="">请选择新闻类别</option>
                                        {volist name="list" id="vo"}
                                        <option value="{$vo.id}"
                                                {eq name='$vo.id' value='$info.id' }selected{
                                        /eq}>{$vo.type_name}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">发布时间</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="create_time" name="create_time" lay-verify="required"
                                           class="layui-input">
                                </div>

                                <label class="layui-form-label">是否至顶</label>
                                <div class="layui-input-inline">
                                    <input type="radio" name="top" value="1" title="正常">
                                    <input type="radio" name="top" value="2" title="至顶">
                                </div>
                                <label class="layui-form-label">是否显示</label>
                                <div class="layui-input-inline">
                                    <input type="radio" name="visible" value="1" title="显示">
                                    <input type="radio" name="visible" value="0" title="隐藏">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">新闻内容</label>
                                    <div class="layui-input-block">
                                        <textarea type="text" name="content" id="content"
                                                  placeholder="请输入内容">{$content}</textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <a class="layui-btn" lay-submit="" lay-filter="layform">保存</a>
                                    <a href="{:url('index')}" class="layui-btn layui-btn-primary">返回</a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="common/footer"}
<script type="text/javascript" charset="utf-8" src="__JS__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__JS__/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__JS__/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
    var url = "{:url('Ueditor/index')}";
    var ue = UE.getEditor('content', {
        initialFrameHeight: 250,
        zIndex: 100
    });
</script>
<script>
    layui.use(['form', 'laydate'], function () {
        var form = layui.form, $ = layui.jquery, laydate = layui.laydate;
        laydate.render({elem: '#create_time', type: 'datetime', value: new Date()});
        form.val("form-news", {$info});
    });
</script>

<!--
以下为使用wangeditor版本
{include file="common/header"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <form class="layui-form layui-row" lay-filter="form-news" action="{:url('edit')}">
                    <input type="hidden" name="id"/>
                    <div class="layui-card-body" pad15>
                        <div class="layui-col-md12">
                            <div class="layui-form-item">
                                <label class="layui-form-label">新闻标题</label>
                                <div class="layui-input-block">
                                    <input type="text" name="title" class="layui-input" lay-verify="required">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">新闻类别</label>
                                <div class="layui-input-inline">
                                    <select name="type_id" lay-verify="required" id="type_id">
                                        <option value="">请选择新闻类别</option>
                                        {volist name="list" id="vo"}
                                        <option value="{$vo.id}"
                                                {eq name='$vo.id' value='$info.id' }selected{
                                        /eq}>{$vo.type_name}</option>
                                        {/volist}
                                    </select>
                                </div>

                                <label class="layui-form-label">发布时间</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="create_time" name="create_time" lay-verify="required"
                                           class="layui-input">
                                </div>

                                <label class="layui-form-label">是否至顶</label>
                                <div class="layui-input-inline">
                                    <input type="radio" name="top" value="1" title="正常">
                                    <input type="radio" name="top" value="2" title="至顶">
                                </div>
                                <label class="layui-form-label">是否显示</label>
                                <div class="layui-input-inline">
                                    <input type="radio" name="visible" value="1" title="显示">
                                    <input type="radio" name="visible" value="0" title="隐藏">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">新闻内容</label>
                                    <div class="layui-input-block">
                                        <div id="editor"><p>{$content}</p></div>
                                        <textarea id="content" name="content"
                                                  style="width: 100%;height: 300px;display: none"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <a class="layui-btn" lay-submit="" lay-filter="layform">保存</a>
                                    <a href="{:url('index')}" class="layui-btn layui-btn-primary">返回</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{include file="common/footer"}
<script type="text/javascript" src="__JS__/wangeditor/wangEditor.min.js"></script>
<script type="text/javascript">
    var E = window.wangEditor;
    var editor = new E('#editor');
    editor.customConfig.uploadImgShowBase64 = true;
    editor.customConfig.uploadImgMaxSize = 3 * 1024 * 1024;
    editor.customConfig.uploadFileName = 'file';  //上传的文件名
    editor.customConfig.showLinkImg = true; //是否开启网络图片，默认开启的。
    editor.customConfig.debug = true; //是否开启Debug 默认为false 建议开启 可以看到错误
    editor.customConfig.uploadImgServer = "{:url('edtiorUpload')}";  // 上传图片到服务器
    editor.customConfig.uploadImgHooks = {
        customInsert: function (insertImg, result, editor) {
            var url = result.data;
            insertImg(url);
        }
    };
    var $text = $("#content");
    editor.customConfig.onchange = function (html) {
        $text.val(html)
    };
    editor.customConfig.zIndex = 100;//防止挡住下拉列表框
    editor.create();
    $text.val(editor.txt.html());
</script>
<script>
    layui.use(['form', 'laydate'], function () {
        var form = layui.form, $ = layui.jquery, laydate = layui.laydate;
        laydate.render({elem: '#create_time', type: 'datetime', value: new Date()});
        form.val("form-news", {$info});
    });
</script>
-->
