<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{$Think.config.sys_name}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__LAY__/css/layui.css" media="all" />
    <link rel="stylesheet" href="__CSS__/login.css">
    <link rel="stylesheet" href="__CSS__/font-awesome.css">
    <script src="__JS__/jquery-2.1.3.min.js"></script>
</head>
<body>
<div class="login">

    <div class="login-main">
        <div class="login-box login-header">
            <h2>设置新密码</h2>
        </div>
        <div class="layui-form">
            <form class="layui-form" action="{:url('setPwd')}">
                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-block">
                    <input type="text" name="email" value="{:session('chgEmail')}"  lay-verify="required" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">新密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="pwd" lay-verify="pass"   autocomplete="off" id="pwd" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">确认新密码</label>
                    <div class="layui-input-block">
                        <input type="password"   lay-verify="repass"  autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <a class="layui-btn" lay-submit="" lay-filter="layform">保存密码</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{include file="common/footer"}
<script>
    layui.use('form', function () {
        var form = layui.form, $ = layui.jquery;
        form.verify({
            pass: [/(.+){1,12}$/, '密码必须1到12位'],
            repass: function (value) {
                var repassvalue = $('#pwd').val();
                if (value != repassvalue) {
                    return '两次输入的密码不一致!';
                }
            }
        })
    });
</script>